.char-list{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    list-style-type: none;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 50px;
        justify-content: center;
        align-items: center
    }

    & li{
        padding-bottom: 20px;
        position: relative;
        font-size: 12px;
        font-family: 'SF Pro Display Regular', sans-serif;
        font-weight: 300;
        flex-basis: calc((100% - 60px) / 2);

        @media screen and (min-width: 768px) {
            font-size: 16px;
        }

        @media screen and (min-width: 1200px) {
            font-size: 25px;
        }
    }

    & li::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 150px;
        border-bottom: 1px solid #000;

        @media screen and (min-width: 768px) {
            width: 70px;
        }

        @media screen and (min-width: 1200px) {
            width: 140px;
        }
    }

    & li:nth-last-child(-n+2)::after{
        @media screen and (min-width: 768px) {
            width: 0;
        }
    }

    & li:last-child::after{
        width: 0;
    }
}